.msg{data: {message: {id: message.id}}}
  .msg-info
    %p.msg-info__name
      = message.user.name
    %p.msg-info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .msg-info__text-image
    .msg-info__text-image__coment
    - if message.content.present?
      = message.content
  = image_tag message.image.url, class: "msg-info__image" if message.image.present?
