* {
  box-sizing: border-box;
}

/*画面大枠の実装*/
.wrapper{
  width:100%;
  display: flex;

  /*_side_barエリアの実装*/
  .side-bar{
    width:300px;
    height:100vh;
    background-color: #253141;
  }

  /*_main_chatエリアの実装*/
  .chat-main{
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #FFFFFF;
  }
}
